/* My custom classes */
/* Add hover on navbar menu */
.hover-link-underline a:hover {
    text-decoration: underline;
}

/* Carousel image custom responsive */
.carousel-img-fit img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%)
}

/* Optional parts CSS */
/* Fontawesom star icon style */
.fontawesome-sm-icons i {
    font-size: 12px;
}